{
  "extends": "airbnb",
  "rules": {
    "no-useless-constructor": "warn",
    "no-underscore-dangle": ["warn", { "allowAfterThis": true }],
    "max-len": ["warn",{"code": 150}],
    "global-require": "warn",
    "import/no-dynamic-require": "warn",
    "linebreak-style": "off",
    "class-methods-use-this":"warn",
    "indent":"off",
    "comma-dangle":"off",
    "eol-last": "off"
  }
}